#maincontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8dedf;
}

#logincontainer {
  height: 500px;
  width: 330px;
  box-shadow: 1px 1px 1px 1px #c0bfbf;
  border-radius: 10px;
  background-color: white;
}
#shadow {
  box-shadow: 1px 1px 1px 1px #c0bfbf;
  border-radius: 7px;
}

#globesub {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px #888888;
  border-radius: 5px;
}

#globeimagecontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7%;
  padding: 5%;
}

#globeimage {
  height: 30px;
  width: 30px;
}
